<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>                  
    <!-- <script src="https://unpkg.com/vue-clipboard2/dist/vue-clipboard2.min.js"></script> -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>不想上班</title>
    <style lang="less">
       #IZONE{
        margin:0;
        padding:0;
       position: relative;  
       font-weight: 900;
        ul {
    /* 去除黑点 */
	list-style: none;
    /* 消白边 */
	padding-inline-start: 0px;
}
        .top{
            margin:0 200px;
            padding: 0;
            background-color: #b7eee5;
            font-family:'楷体'; 
            button{
                font-size: 16px;
                margin: 0;
                padding: 0;
                width: 75px;
                height: 30px;
            }
            
        }               
         .center{
            display: flex;
            justify-content: space-between;
            display: 1;
            div{
                position: relative;
                width: 300px;
                /* height: 350px; */
                border: 5px solid #db706c;
                text-align: center;
                .yi{
                    font-size: 20px;
                    line-height: 0px;
                    display: inline-block;


                } 
                ul, ul li {
                    text-align: left;
                    font-size: 10px;
                }
                           
            }
         }

         .bottom{
            /* font-size: 10px; */
            text-align: right;
            input{
                width: 800px;
            }
         }

         pre{
            font-size: 16px;
            font-weight: 900;
         }
          
        }
        #IZONE::before {  
                content: ""; 
                position: absolute; 
                top: 0;  
                right: 0;  
                bottom: 0;  
                left: 0;  
                background: url(./images/X.jpg) no-repeat;  
                background-size:100%; 
                /* background-repeat: no-repeat; */
                /* background-size: cover; */
                /* background-attachment: fixed;   */
                opacity: 0.5;  
                z-index: -1;  

            

        }
    </style>
</head>
<body>
    <!-- 蒋碧霞牛逼，越活越年轻 -->
    <div id="IZONE">
      <div class="top">

       商品ID放在这里:<input type="text" v-model="spid">（{{idArr.length}}个）
        <el-button type="danger" @click="qingkong">清空</el-button>
        <el-button type="info" @click="buzhidao">占位</el-button>11:35吃饭
        

        <br>


        一口价放在这里:<input type="text" v-model="oldPrice">（{{newPrice.length}}个）
        <el-button type="success" @click="yes">提交</el-button>
        <el-button type="success" @click="shuaxin">刷新</el-button>18:00下班
        

    </div>
   

      <div class="center">
        <div class="nine">
            <p class="yi">9:00---{{biaoti[b[0]]}}</p>           
             <ul ref="wenan1">
                {{lies[w[0]]}} 
            <li v-for="item in combination.slice(0,6)" :key="item.index">
                http://item.taobao.com/item.htm?id={{item[0]}}
                <br>
                新品价：{{item[1]}}
            </li>
            </ul>
       <el-button type="primary" @click="copy1">复制</el-button>
        </div>
        <div class="twelve">
            <p class="yi">12:00---{{biaoti[b[1]]}}</p>           
            <ul >
                {{lies[w[1]]}} 
           <li v-for="item in combination.slice(6,12)" :key="item.index">
               http://item.taobao.com/item.htm?id={{item[0]}}
               <br>
               活动价：{{item[1]}}
           </li>
           </ul>
           <el-button type="primary" @click="copy2">复制</el-button>
        </div>
        <div class="sixteen">
            <p class="yi">16:00---{{biaoti[b[2]]}}</p>           
            <ul >
                {{lies[w[2]]}} 
           <li v-for="item in combination.slice(12,18)" :key="item.index">
               http://item.taobao.com/item.htm?id={{item[0]}}
               <br>
               心动价：{{item[1]}}
           </li>
           </ul>
           <el-button type="primary" @click="copy3">复制</el-button>
        </div>
        <div class="eighteen">
            <p class="yi">18:00---{{biaoti[b[3]]}}</p>           
            <ul >
                {{lies[w[3]]}} 
           <li v-for="item in combination.slice(18,24)" :key="item.index">
               http://item.taobao.com/item.htm?id={{item[0]}}
               <br>
               活动价：{{item[1]}}
           </li>
           </ul>
           <el-button type="primary" @click="copy4">复制</el-button>
        </div>
        <div class="twenty-two">
            <p class="yi">22:00---{{biaoti[b[4]]}}</p>           
            <ul >
                {{lies[w[4]]}} 
           <li v-for="item in combination.slice(24,30)" :key="item.index">
               http://item.taobao.com/item.htm?id={{item[0]}}
               <br>
               心动价：{{item[1]}}
           </li>
           </ul>
           <el-button type="primary" @click="copy5">复制</el-button>
        </div>
        <div class="night">
            <p class="yi">00:00---{{biaoti[b[5]]}}</p>           
            <ul >
                {{lies[w[5]]}} 
           <li v-for="item in combination.slice(30,36)" :key="item.index">
               http://item.taobao.com/item.htm?id={{item[0]}}
               <br>
               福利价：{{item[1]}}
           </li>
           </ul>
           <el-button type="primary" @click="copy6">复制</el-button>
        </div>      
      </div>
   
<div class="bottom">
   排序增加逗号：<button @click="qingkong_raw">清空</button><input ref="inputFocus" type="text" v-model="raw">
   <br>

   （{{done.length}}个）<button @click="zhuanhua">转化并复制</button><input type="text" v-model="done">
   <br>
   直播通知连接：<input type="" name="" value="宝子们~开播福利秒杀中！低至9.98~快去抢购吧 https://h5.m.taobao.com/taolive/video.html?userId=719851228">

</div>
<pre>
    <el-link href="https://webgradients.com/" target="_blank" type="error">配色网站</el-link>
    <el-link href="https://www.zhongguose.com/" target="_blank" type="error">配色网站</el-link>
    <el-link href="https://access.mymind.com/colors" target="_blank" type="error">配色网站</el-link>
    <el-link href="https://uigradients.com/#IIITDelhi" target="_blank" type="error">配色网站</el-link>
  
    <button @click="memory">一键完成所有工作</button>
优惠券发放时间：
大店：2 5 7  ：400张
小店：1 3 6  ：60张
yy ：  10-2 （周二）20-3（周五）30-5（周日）
伊伊：30-5(周一) 20-3（周三）10-2（周六）
名称模版：6.1群聊2元券

秒杀款：每天发送3弹 第一
第1弹数量：6
    2：6
    3：5
-----
半个月换一次
要到15号了可以提前两天更换
因为怕他断开
每日打卡
标题模版：6月上旬打卡3元券
            6月上旬打卡5元券
连续3天：20-3
连续7天：30-5
大店发行：8000张
小店发行：4000张
其他小店500张  
-----秒杀款
（销量大于150的不设置）
新品福利秒杀第一弹~
关注店铺，赠送运费险！
新品福利秒杀第二弹~
收藏店铺宝贝，领取更多优惠！
新品福利秒杀第三弹~
粉丝专享，更多福利等你来拿！ 
------
预告：
宝子们~今天是周五哟！又到我们约定的发券时间了，下午15.30分发一波宠粉20-3元优惠券，收到请扣1~
集美们，周二如期而至！这是我们约定的时刻，下午15:30，将有一波专属于你们的10-2元宠粉优惠券发放。请做好准备，收到消息后请扣“1”确认哦~
宝子们💖，周一欢聚时刻到！🎉 下午15:30，专宠你的30-5元优惠券来啦！准备好小手，扣“1”一起抢福利吧！😉
宝子们~准备好了嘛 稍后15点25-30分左右发券哦~
-------
上线：
宝子们，今日30-5优惠卷已送达~请签收~🎁优惠券：
集美们，🔔优惠券它来了！ 10-2元优惠券闪亮登场🎉 ，仅限今天哦！动作要快🚀，姿势要帅！ 点击下面的链接，赶紧领走你的专属优惠吧！🎁优惠券：
宝子们，好消息来啦！🎉 20-3元优惠券火热上线，限时领取，仅限当天使用哦！速戳下方链接，领取你的专属优惠吧！别错过啦！🎁优惠券：
https://taoquan.taobao.com/coupon/unify_apply.htm?sellerId=719851228&activityId=af1caa1135264a539891a57bd22e9dc5&toolName=shopCoupon
集美们，今天的20-3的优惠券已经到咯，限时使用当天哦~戳戳下发链接领取吧~🎁优惠券：
https://taoquan.taobao.com/coupon/unify_apply.htm?sellerId=830423356&activityId=fc56afd800cb48cd9741005b1a07eae5&toolName=shopCoupon
宝子们，30-5元优惠券已上线！限时领取，仅限当天使用，速戳下方链接领取你们的专属优惠吧！🎉🎁优惠券：
  </pre>

     <div class="picture">
        <img v-for="item in dog"  :src="item" alt="" >
     </div> 


    </div>
    <script>
      
        const vm = new Vue({
           
            el: '#IZONE',
            data: {
                spid:'',
                idArr:[],
                oldPrice:'',
                newPrice:[],              
                lies:[
                    '☀️夏日潮流必备，创意细节加持，轻松打造独特穿搭！✨' ,
                    '🔥走一波夏日穿搭，快来看看我的最爱吧！',
                    '🌸夏天来了，你准备好了吗？这里有各种时尚款式等你来挑选🛍️', 
                    '🎉夏日时尚推荐！你想要的我都有！自信从穿出的那一刻开始，快来pick你的夏日穿搭吧！💃', 
                    '👀想要时尚独特的夏季装扮吗？快来看看我的推荐！✨无论哪一款都不容错过！', 
                    '💃点我选购，夏日型格装备，你不选，我选！', 
                    '💖穿上这些气质款，让你秒变高级小仙女，快来让夏季更有范儿吧~💃', 
                    '🌼夏天来啦！这些百搭休闲时尚单品必须要有！',
                    '穿出自己的独特风格，让你在人群中脱颖而出。', 
                    '👀追求时尚美感？这里有你需要的所有选项！🌞让夏日不再无聊！', 
                    '各式款式齐全,满足你的不同场合需求,快来选择你的夏日美搭吧~🌞', 
                    '☀️夏日当道，这些款式必备！清凉舒适又时尚，喜欢就快来选购吧！⛱️👙时尚百变，解锁多种场景 💗', 
                    '❤️夏日必备，👌设计感十足，不同颜色和款式任您选择，让您穿出自信和时尚感。夏天想更时尚？点进来看看吧！应有尽有，尽显女性气质。😍',
                    '🌸夏日出彩造型，小众时尚单品助阵，让你秒变时尚icon！💃',
                    '夏日焕新穿搭秘籍：打造独特风格，轻松展现新气象', 
                    '生活里有太多无处可撒的脾气，但仅需要靓衣就能把你治愈👚🌸', 
                    '心动不如心动，穿的好看点一点也没错鸭✨', 
                    '👗夏装来袭，设计感拉满💯，让你随心搭配，轻松打造时尚造型~', 
                    '夏款登场！时尚百搭，款式多样，总有一款让你爱不释手！💕 ', 
                    '多款时尚单品等你来挑选！让你美丽又舒适过夏天！快来选购吧！💃',
                    '遇见2024夏季新款！快来pick你的时尚装备💃', 
                    '🌸时髦不止是穿着，还要表现在品味~ 🎀', 
                    '穿搭日记|👠夏日百搭款，吸睛出众，时尚前沿，hold住全场！👗🕶️', 
                    '🌞清爽穿搭，舒适宽松，我的夏天给你! ', 
                    '💃来一场夏日时尚秀！穿上它们，你会是整个夏季最亮眼的女孩！', 
                    '穿搭分享|💃夏日穿搭福利来袭！种种美丽上衣让你随心所欲，👗让衣橱出彩！',
                    '夏日必备款式，样样精致，满足你气质需要。让我们一起独揽这份时尚盛宴！👗👚', 
                    '🌸精致的每一个瞬间让“好看”成为日常~💃', 
                    '👀这些夏天必备单品你准备好了吗？让你的夏季时尚度up up up！💁‍♀️', 
                    '🌟这夏天，你需要的美貌必备品，都在这里！各种款式任你挑选！', 
                    '揭秘今夏最IN穿搭，让你秒变时尚达人！💃',
                    '👀 看这里！夏季新款，准备好挑选你的心仪之选了吗？🌞💃',
                    '夏季新款来袭，你的心仪之选就在这里！🌞💃', 
                    '👀 目光锁定！夏季新装上架，心动之选，等你来挑！🌞💃', 
                    '👀夏季新装上架啦！心动之选，快来挑选你的时尚style！🌞💃', 
                    '💃夏天来啦！各种时尚元素应有尽有！快来pick你的最爱！👗🛍️', 
                    '👀想要个性时尚？👚这些女装单品必定让你找到自己的风格💄', 
                    '百搭实用 | 你的衣橱需要这套☀️',
                    '‼️不要错过这些设计感十足的夏季穿搭！💯', 
                    '😍夏季必备！设计感💯，绝对让你引领时尚潮流。你准备好了吗？', 
                    '💯抢眼的颜色搭配和亮眼的细节设计，让你成为街头焦点！👀', 
                    '新品已就位 | 💕✨本小姐已找到2024年夏季的潮流单品！💃👯♀️', 
                    '美好的事物永远是一种快乐💗', 
                    '💃夏日美衣必备！设计感小众，轻松穿搭，时尚低调又不俗气！🌞',
                    '快来get这些设计感十足的夏季单品，让你美美哒度过夏日！💃', 
                    '💖各种小众潮流款式，时尚度upup哦~购买链接，戳这里➡️', 
                    '带你进入别样的时尚世界，穿出独特的气质。快来选购吧！🛍️💄👗', 
                    '女孩们，快来一起感受美丽！💃', 
                    '百搭又时尚~✨👩‍🎤给自己的夏季穿搭来点新鲜感吧！',
                    '选择多样，满足不同场合需要,让你时尚又舒适,快收入衣橱中吧!💃',
                    '✨夏日必备，好感度爆棚✨ ，简直美哭啊！快来pick你的气质穿搭吧~ ', 
                    '2024新款盛情推荐！美丽从此开始！💃 ', 
                    '搭配简单，高级感倍增，让你成为人群的焦点！快来选购吧！', 
                    '🌞穿上任何一款都能立刻hold住街头！', 
                    '🌞每一款都是为你量身打造，穿上它，街头就是你自信的舞台👗', 
                    '穿的漂亮才是成功的搭配呀！',
                    '🌸我是你的私人搭配师！夏季除了清凉，还要甜美又优雅💃', 
                    '小众别致款式，时髦而舒适，为你的造型加分！快来选购吧！🛍️', 
                    '🌟夏日精选美衣，让你既时尚又舒适！快来选购啦！🛍️', 
                    '🌟夏日里的时髦LOOK 👀，绝对是你夏季时尚的最佳搭配！💃', 
                    '设计感💯，这些衣服都让我心动不已～快来试试吧！👕', 
                    '💃女孩们，快来看看我的夏日必备清单！让你美丽度过整个夏季！👗',
                    '准备好穿上它们出门秀出美美哒！👗👚', 
                    '🤩穿上这些，你就是这个季节最耀眼的星！不容错过，快来选购吧！🌟', 
                    ' 👀 多款款式可选，带你一整个夏天时髦不重样！', 
                    '🌞夏日穿搭新玩法来袭！省时省力又美美哒~速速get起来！💃🏻', 
                    '🌸想要显瘦又性感吗？穿上这款连衣裙绝对没问题！✨',
                    '各种色彩的心动搭配💗 准确狙击你的心脏 质感也超绝的哦✨',
                    '各种色彩的心动搭配💗总之买回家摸到手您就知道它的好啦~⭐️', 
                    '每一款的搭配，穿上后就能感受到那份独特的魅力！💥💗', 
                    '拒绝平庸，选我就对！各种夏季热门款式，让你美出自信新高度！🌟', 
                    '🌸当纷繁花样遇上极致设计，你准备好变成最靓的自己了吗？', 
                    '🌸这些小众却设计感十足的衣服，一定能为你的夏季装扮增添加分项！', 
                    '时尚美衣，样样精美！不管你是什么风格，总有一款适合你！快来选购吧！💃🛍️',
                    '新品上线✨，潮流美衣，一键get时髦感！💃🛍️', 
                    '💥这夏天，让你成为最in小仙女！做一个最独特的自己~👗', 
                    '🌸夏季必备，百搭单品，多款样式选择，让你整个夏天美美哒！💃',
                    '💃 衣服质感好、设计多样化，一定能让你美艳动人，不同凡响！赶紧get起来吧！', 
                    '🌞夏日必备的高级美衣！美美哒出门，还等什么？快来选购吧！💃', 
                    '新品惊艳登场✨，潮流美衣，一键解锁时尚新高度！💃🛍️',
                    '新品推荐 | 👉夏日里的不二之选😘', 
                    '🎉夏日新品上线，多款时尚选择，满足你的搭配需求💕', 
                    '🎉夏日时尚小确幸，多种选择，满足你的时尚搭配需求💕！',
                    '👀  你想成为最in的那个吗？看看这里～👉 ',
                    '戳进来，让我告诉你如何快速搭配，并成为最美的自己！', 
                    '哪一件是你的最爱？快点挑选一件，让你的夏日造型更加出彩吧！💕',
                    '哪一款能打动你的心弦？快来挑选，点亮你的夏日造型，成为焦点中的焦点！💕', 
                    '穿上它们，为你的夏日注入无限亮点和自信！赶快选购吧~🛍️', 
                    '时尚设计感百搭款，让你光彩照人！快来选一款适合自己的吧！💃🏻',
                    '☀️夏日来了，就要穿上别致的美衣，让别人眼前一亮！💃🏻', 
                    '✨ "夏季必备！入手这些时髦单品，让你穿出清新又时尚的感觉！" ✨', 
                    '👕👗夏季必备单品，靓丽你的衣橱。😍',
                    '🔥 夏日必备款式，让你时尚又舒适！👗', 
                    '打造甜美少女风格，让你成为少女本人！', 
                    '高级单品，美翻整个夏天！就选这款，开启你的时尚之旅！💃',
                    '🌞夏日潮流穿搭推荐！小众设计感打造时尚你！', 
                    '多款新品，随心搭配，美得惊艳！快来选购吧！🛍️', 
                    '👀 看这里！夏季新款，🌞 准备好了吗？快来挑选自己喜欢的吧！💃',
                    '👀 聚焦此刻！夏日新宠，🌞 你心动了吗？精选潮流，等你入手！🛍️', 
                    '❤️千款美衣，选我没错！来一件～复古款或运动风，you pick! 🌟 👯 ', 
                    '👀小众设计感上衣，让你与众不同！🌟',
                    '夏日甜辣，迷人又亮眼！快来选一件，闪耀全场！💖🌞', 
                    '时尚真的不会过时，质量看得见！价格美丽到哭好叭', 
                    '💖夏日必备款式，轻奢又小众，穿上就是仙女。戳进来看看吧！👀',
                    '夏天到了🌞，这里有没有适合你的呢？快来选一件展现你的美丽身影吧！💃', 
                    '🌟巧妙穿搭，性感又有气质，夏季必备！快来试试吧~👗', 
                    '每日上新 | 🌸 想要穿出气质？这些款式一定不能错过！💕',
                    '修身百搭，展现完美身材，让你穿出自信，更美更时尚！👗🌞💃',
                    '💃夏日穿梭必备，条纹元素创造出别样韵味，穿出你与众不同的风采。', 
                    '👀夏天要来了，准备好迎接夏日的时尚吗？这都是不错的选择哦！👗',
                    '👀想拥有一份与众不同的夏日时尚吗？快来选购吧~', 
                    '🌞夏日穿搭不重样！多款时髦夏装，等你来挑选！✨', 
                    '💃秀出女人味，夏天必备，这些时尚单品让你美出新高度！👗👠💄',
                    '💗夏日流行必备，美得优雅且百搭，让我们一起来“穿”越夏季吧！', 
                    '超有设计感的单品，为你的夏季添色不少！快来看看吧！☀️👗👖🌸', 
                    '👗夏日必备！多款潮流单品尽在我手，快来选购！💃',
                    '时尚百搭，尽显时尚气质，夏日时尚，从选对衣服开始！👗💃', 
                    '🌟夏日新装，清爽登场，轻松打造你的完美造型~', 
                    '☀️时尚女装，舒适与风格并存，每一天都充满自信~',
                    '🌸优雅新款，简约设计，展现你的独特魅力和风采~',
                    '🍃清新夏季，轻盈舒适，让你的每一天都焕发活力~', 
                    '💖流行趋势，舒适百搭，轻松穿出你的时尚风格~',
                    '🌼夏日精选，时尚与舒适兼备，展现你的优雅气质~', 
                    '🍉灵动新装，清爽自然，随心搭配，展现你的个性~', 
                    '🌷时尚女装，轻盈透气，夏日必备，让你成为街头焦点~',
                    '🌻潮流新品，舒适自在，演绎夏日的无限魅力~', 
                    '🍦清凉时尚，夏季必选，柔软面料，尽显你的迷人风采~', 
                    '✨时尚风采，舒适至上，每一天都让你光彩夺目~',
                    '🌈夏日亮点，清新设计，尽情展示你的个人风格~', 
                    '🌿经典与潮流并存，轻松穿搭，打造无尽魅力~', 
                    '💫流行女装，清爽舒适，轻松演绎时尚新风貌~',
                    '🌷夏日美衣，舒适优雅，展现你最真实的自我~',
                    '🍓轻盈面料，清凉设计，夏日穿搭不再单调~', 
                    '🌼时尚必备，舒适百搭，赋予你无穷魅力~',
                    '🍃优雅新款，设计独特，轻松展现你的魅力风采~', 
                    '🌸夏日精选，清爽自然，搭配随心，魅力无限~', 
                    '🌞活力四射，舒适合身，展现你的独特时尚~',
                    '🍧清新风格，柔软面料，适合每个夏日瞬间~', 
                    '🌻简约时尚，舒适优雅，让你成为焦点~', 
                    '💖舒适与风格并存，轻松打造完美夏日造型~',
                    '🌟流行风尚，清凉一夏，展现你的独特魅力~'                             
                ],
                biaoti:[
                    '搭配宝藏',
                    '甜酷前线',
                    '风格新宠',
                    '活力四射',
                    '多品上新',
                    '夏日潮流',
                    '魅力穿搭',
                    '今日新品',
                    '潮流精选',
                    '清爽风格',
                    '夏日新宠',
                    '青春装扮',
                    '热门款式',
                    '个性装扮',
                    '清新搭配',
                    '夏日热款',
                    '夏日新品',
                    '潮流风向',
                    '时尚亮点',
                    '时尚搭配',
                    '流行趋势',
                    '精选装扮',
                    '活力穿搭',
                    '夏日潮流',
                    '魅力穿搭',
                    '时尚必入',
                    '今日新品',
                    '夏日新宠',
                    '青春装扮',
                    '潮流指南',
                    '夏日热款',
                    '时尚速递'
                    
                ],
                raw:'',
                done:[],
                b:[],
                w:[],
                dog:[],
              
            },
            
            methods: {
             
                qingkong(){
                    this.spid='',
                    this.oldPrice='',
                    this.idArr='',
                    this.newPrice=''
                },


                // [m,n]范围随机的整数(包含m,n)
                getRandomInt(m,n){
                    return Math.floor(Math.random() * (n - m + 1)) + m;
                },
                yes(){  
                    // 去空            
                    this.idArr = this.spid.split(" ").filter(item => item && item.trim() !== '');
                    this.newPrice = this.oldPrice.split(" ").filter(item => item && item.trim() !== '');                                                                                             
                    this.b=[this.getRandomInt(0,this.biaoti.length-1),this.getRandomInt(0,this.biaoti.length-1),this.getRandomInt(0,this.biaoti.length-1),this.getRandomInt(0,this.biaoti.length-1),this.getRandomInt(0,this.biaoti.length-1),this.getRandomInt(0,this.biaoti.length-1)]
                    this.w=[this.getRandomInt(0,this.lies.length-1),this.getRandomInt(0,this.lies.length-1),this.getRandomInt(0,this.lies.length-1),this.getRandomInt(0,this.lies.length-1),this.getRandomInt(0,this.lies.length-1),this.getRandomInt(0,this.lies.length-1)]                  
                
                },
                shuaxin(){
                    this.b=[this.getRandomInt(0,this.biaoti.length-1),this.getRandomInt(0,this.biaoti.length-1),this.getRandomInt(0,this.biaoti.length-1),this.getRandomInt(0,this.biaoti.length-1),this.getRandomInt(0,this.biaoti.length-1),this.getRandomInt(0,this.biaoti.length-1)]
                    this.w=[this.getRandomInt(0,this.lies.length-1),this.getRandomInt(0,this.lies.length-1),this.getRandomInt(0,this.lies.length-1),this.getRandomInt(0,this.lies.length-1),this.getRandomInt(0,this.lies.length-1),this.getRandomInt(0,this.lies.length-1)]                  
               
                },
                buzhidao(){
                  
                    alert('蒋碧霞牛逼~')
                },
                copy1(){
                    if(this.combination.length>=6){
                    this.$message({
                        message:'提交复制成功哦~',
                        type:'success'
                    });
                    this.copyTextToClipboard(`${this.lies[`${this.w[0]}`]}\nhttp://item.taobao.com/item.htm?id=${this.combination[0][0]}\n新品价：${this.combination[0][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[1][0]}\n新品价：${this.combination[1][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[2][0]}\n新品价：${this.combination[2][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[3][0]}\n新品价：${this.combination[3][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[4][0]}\n新品价：${this.combination[4][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[5][0]}\n新品价：${this.combination[5][1]}\n`)                  
                }
                else{
                    this.$message({
                        message:'复制失败 这一列要满6个才能复制哦~',
                        type:'error'
                    });
                }
                },
                copy2(){
                    if(this.combination.length>=12){
                    this.$message({
                        message:'复制成功哦~',
                        type:'success'
                    });
                    this.copyTextToClipboard(`${this.lies[`${this.w[1]}`]}\nhttp://item.taobao.com/item.htm?id=${this.combination[6][0]}\n活动价：${this.combination[6][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[7][0]}\n活动价：${this.combination[7][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[8][0]}\n活动价：${this.combination[8][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[9][0]}\n活动价：${this.combination[9][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[10][0]}\n活动价：${this.combination[10][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[11][0]}\n活动价：${this.combination[11][1]}\n`)                  
                    }
                    else{
                    this.$message({
                        message:'复制失败 这一列要满6个才能复制哦~',
                        type:'error'
                    });
                }
                },
                copy3(){
                    if(this.combination.length>=18){
                    this.$message({
                        message:'复制成功哦~',
                        type:'success'
                    });
                    this.copyTextToClipboard(`${this.lies[`${this.w[2]}`]}\nhttp://item.taobao.com/item.htm?id=${this.combination[12][0]}\n心动价：${this.combination[12][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[13][0]}\n心动价：${this.combination[13][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[14][0]}\n心动价：${this.combination[14][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[15][0]}\n心动价：${this.combination[15][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[16][0]}\n心动价：${this.combination[16][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[17][0]}\n心动价：${this.combination[17][1]}\n`)                  
                }
                else{
                    this.$message({
                        message:'复制失败 这一列要满6个才能复制哦~',
                        type:'error'
                    });
                }
                },
                copy4(){
                    if(this.combination.length>=24){
                    this.$message({
                        message:'复制成功哦~',
                        type:'success'
                    });
                    this.copyTextToClipboard(`${this.lies[`${this.w[3]}`]}\nhttp://item.taobao.com/item.htm?id=${this.combination[18][0]}\n活动价：${this.combination[18][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[19][0]}\n活动价：${this.combination[19][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[20][0]}\n活动价：${this.combination[20][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[21][0]}\n活动价：${this.combination[21][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[22][0]}\n活动价：${this.combination[22][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[23][0]}\n活动价：${this.combination[23][1]}\n`)                  
                }
                else{
                    this.$message({
                        message:'复制失败 这一列要满6个才能复制哦~',
                        type:'error'
                    });
                }
                },
                copy5(){
                    if(this.combination.length>=30){
                    this.$message({
                        message:'复制成功哦~',
                        type:'success'
                    });
                    this.copyTextToClipboard(`${this.lies[`${this.w[4]}`]}\nhttp://item.taobao.com/item.htm?id=${this.combination[24][0]}\n心动价：${this.combination[24][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[25][0]}\n心动价：${this.combination[25][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[26][0]}\n心动价：${this.combination[26][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[27][0]}\n心动价：${this.combination[27][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[28][0]}\n心动价：${this.combination[28][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[29][0]}\n心动价：${this.combination[29][1]}\n`)                  
                }
                else{
                    this.$message({
                        message:'复制失败 这一列要满6个才能复制哦~',
                        type:'error'
                    });
                }
                },
                copy6(){
                    if(this.combination.length>=36){
                    this.$message({
                        message:'复制成功哦~',
                        type:'success'
                    });
                    this.copyTextToClipboard(`${this.lies[`${this.w[5]}`]}\nhttp://item.taobao.com/item.htm?id=${this.combination[30][0]}\n福利价：${this.combination[30][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[31][0]}\n福利价：${this.combination[31][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[32][0]}\n福利价：${this.combination[32][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[33][0]}\n福利价：${this.combination[33][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[34][0]}\n福利价：${this.combination[34][1]}\nhttp://item.taobao.com/item.htm?id=${this.combination[35][0]}\n福利价：${this.combination[35][1]}\n`)                  
                    }
                    else{
                    this.$message({
                        message:'复制失败 这一列要满6个才能复制哦~',
                        type:'error'
                    });
                }
                },
                copyTextToClipboard(text) {
                try {
                    const t = document.createElement('textarea')
                    t.nodeValue = text
                    t.value = text
                    document.body.appendChild(t)
                    t.select()
                    document.execCommand('copy');
                    document.body.removeChild(t)
                    return true
                } catch (e) {
                    console.log(e)
                    return false
                }
                },
                qingkong_raw(){
                    this.$refs.inputFocus.focus();
                    this.raw=''
                },
                zhuanhua(){
                    this.done=this.raw.split(" ").filter(item => item && item.trim() !== '');                
                    this.copyTextToClipboard(this.done)
                    this.$message({
                        message:'复制成功哦~',
                        type:'success'
                    });
                    
                },
                memory(){
                    window.location.href = 'https://m.baidu.com/bh/m/detail/ar_4030708502959024019';
                },
                getDog(){
                //      for(let i=0;i<10;i++){
                //         axios.get('https://dog.ceo/api/breeds/image/random').then((data)=>{                      
                //             this.dog.push(data.data.message)
                            
                //     },(err)=>{
                //         console.log("出错了哦~~",err);                       
                //     })
                    
                // }
                
                   
                    
                }                      
            },
            computed: {
                combination() {
                    
                      //组合
                      let arr=[]
                      for(let i=0;i<this.idArr.length;i++){
                            arr[i]=[this.idArr[i],(this.newPrice[i]-0.02).toFixed(2)]
                        }
                      

                    /*这里将组合数组随机排列*/
                    for (let i = arr.length - 1; i > 0; i--) {
                        const j = Math.floor(Math.random() * (i + 1));
                        [arr[i], arr[j]] = [arr[j], arr[i]];
                    }
                    return arr
                },
                
            },
            created(){              
               this.getDog()  
                                         
            },
            
            
            
            
        })

    </script>
</body>
</html>


